<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="calendar">
    <div class="calendar-header">
        <div style="display: flex; flex-wrap: wrap; gap: 6px; align-items: center;">
            <button (click)="addNewTask()">[+]</button>
            <button (click)="zoomIn()">(+)</button>
            <button (click)="zoomOut()">(-)</button>
            <button (click)="scrollToCurrentDate()">[|]</button>
            <button (click)="exportTasks()">⭱</button>
            <button (click)="importTasks()">⭳</button>
            <details>
                <summary>More...</summary>
                <div style="display: flex; flex-wrap: wrap; gap: 6px; align-items: center;">
                    <button (click)="toggleDarkMode()">{{ darkMode ? '🌑' : '🌙' }}</button>
                    <button (click)="REINIT_profile()">reset</button>
                </div>
            </details>
        </div>
        <br />
        <div style="display: flex; gap: 6px; align-items: center;">
            <span>{{ currentPrecision }}</span>
            |
            <span>{{ getFacingTime().toString().split(' GMT')[0] }}</span>
        </div>
    </div>
    <div class="calendar-body" #calendarBody (scroll)="onScroll($event)" (wheel)="onWheel($event)">
        <div class="date-container">
            <div *ngFor="let date of dates; let i = index" class="date-cell" [style.width.px]="cellWidth"
            [style.backgroundColor]="i % 2 === 0 ? (darkMode ? 'darkgray' : 'white') : (darkMode ? 'gray' : 'lightgray')">
                {{ formatDate(date) }}
            </div>
        </div>
        <!-- 小方块任务容器 -->
        <div class="indicator-container">
            <ng-container *ngFor="let task of tasks">
                <div *ngIf="getTaskPosition(task).isIndicator" class="task-indicator" 
                     [style.left.px]="getTaskPosition(task).left"
                     [style.top.px]="getTaskPosition(task).top"
                     [style.border]="'1px solid ' + getPriorityColor(task)"
                     [style.backgroundColor]="getTaskColor(task)"
                     [title]="task.title + ' (' + task.priority + '): ' + task.description"
                     (click)="openEditDialog(task)">
                </div>
            </ng-container>
        </div>

        <!-- 条形任务容器 -->
        <div class="task-container" [style.height.px]="tasks.length * 30 + 40">
            <ng-container *ngFor="let task of tasks">
                <div *ngIf="!getTaskPosition(task).isIndicator" class="task-bar" 
                     [style.left.px]="getTaskPosition(task).left"
                     [style.width.px]="getTaskPosition(task).width"
                     [style.top.px]="getTaskPosition(task).top"
                     [style.border]="'2px solid ' + getPriorityColor(task)"
                     [style.backgroundColor]="getTaskColor(task)"
                     [title]="task.title + ' [' + task.priority + ']: ' + task.description"
                     (click)="openEditDialog(task)">
                    <div class="task-tag" *ngIf="getTaskTag(task)">{{ getTaskTag(task) }}</div>
                    <p class="task-title">{{task.title}}</p>
                    <div class="progress-bar-container" *ngIf="getTaskProgress(task) > 0">
                        <div class="progress-bar" [style.width.%]="getTaskProgress(task)"></div>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>

<app-task-edit 
    *ngIf="editingTask"
    [task]="editingTask"
    [allTasks]="tasks"
    (save)="onTaskSave($event)"
    (delete)="onTaskDelete()"
    (close)="closeDialog()">
</app-task-edit>
